@import "custom";

#mapid { 
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

#over-map {
    position: relative;
    z-index: 200 !important;
    max-height: 100%;
    overflow-y: scroll !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    color: $primary !important;
}